# Database (Write Model)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=grand_line_db
DB_DIALECT=postgres

# Database (Read Model - CQRS)
DB_DATABASE_READ=grand_line_db_read

# Security
JWT_SECRET=super-secret-key
JWT_EXPIRATION=1h
IGNORE_PERMISSIONS=false

# Kafka / CDC
KAFKA_BROKERS=localhost:9092

# Bypass de CDC (Mudar para true em ambiente de produção sem Kafka / Supabase)
BYPASS_CDC=false
